@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-secondarycolor font-fontcustom
    }
}

@layer components {
    .bg-image-onboarding {
        position: relative;
    }

    .bg-image-onboarding::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../../public/design/logo-zynora-subtract.svg');
        background-position: center;
        background-size: 800px;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

@layer utilities {
    .transition-base {
        @apply transition-all duration-300 ease-in-out
    }
}